mixin qrcode(game_id)
  img(src="/game/qr/" + game_id)

mixin game_board(game_state)
  table.game_board
    tr
      td.top_left= game_state[0]
      td= game_state[1]
      td.top_right= game_state[2]
    tr
      td= game_state[3]
      td= game_state[4]
      td= game_state[5]
    tr
      td.bottom_left= game_state[6]
      td= game_state[7]
      td.bottom_right= game_state[8]

doctype html
html
  head
    title ddddd
    link(rel='stylesheet', href="/app.css" type="text/css")
    script(src="/game.js")
  body
    h1.header game
    .menu
      ul
        li
          a(href="/") home
    .main
      +game_board(game.game_state)
      | players:
      ul
        each p in game.players
          li= p
      +qrcode(game.game_id)
    include footer.pug
